@import "tailwindcss";

:root {
  --foreground: 0, 0, 0;
  --background: 255, 255, 255;
}

.dark {
  --foreground: 255, 255, 255;
  --background: 17, 24, 39; /* gray-900 */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
